* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #009fff;
  background: -webkit-linear-gradient(to right, #ec2f4b, #009fff);
  background: linear-gradient(to right, #ec2f4b, #009fff);
  font-family: "poppins", sans-serif;
}
